<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
</head>
<body>
작성자 아이디 : <span th:text="${postdetail.user.nickname}"></span></br>
작성자 동네 : <span th:text="${postdetail.user.address}"></span></br>
작성자 성별 : <span th:text="${postdetail.user.sex}"></span></br>
내용 : <span th:text="${postdetail.content}"></span></br>
상태 : <span th:text="${postdetail.status}"></span></br>

<div th:if="${not #lists.isEmpty(postdetail.user.pets)}">
<table border="1">
    <tr th:each="pet : ${postdetail.user.pets}">
    <td th:text="${pet.name}"></td>
    <td th:text="${pet.personality}"></td>
    <td th:text="${pet.kind}"></td>
    <td th:text="${pet.sex}"></td>
    <td th:text="${pet.neutering}"></td>
    <td th:text="${pet.vaccination}"></td>
    <td th:text="${pet.birth}"></td>
</tr>
</table>
</div></br>
<div th:if="${postdetail.user.id == userdetail.id}">
    <a th:href="@{'/posts/'+ ${postdetail.posttype} + '/edit/' + ${postdetail.id}}">
        <button>수정</button></a>
    <form th:action="@{'/posts/' + ${postdetail.posttype} + '/' + ${postdetail.id}}" th:method="delete">
        <button>삭제</button>
    </form>
</div>
</table>
</body>
</html>