<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700&display=swap"
          rel="stylesheet">
    <title>WorkWalk</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFF4EC;">
    <a class="navbar-brand" th:href="@{/}" style="font-family: 'Do Hyeon', sans-serif;  color: #815854;">
        <img src="/img/WolkWalk-logo.png" width="30" height="30" alt="">
        WorkWalk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="nav navbar-nav  mr-auto navbar-right ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/search/walker}">워커찾기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/message/list}">쪽지목록</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mypage}">마이페이지</a>
            </li>
            <li class="nav-item">
                <div sec:authorize="isAuthenticated()">
                    <a class="nav-link text-danger" th:href="@{/users/logout}">로그아웃</a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a class="nav-link text-info" th:href="@{/users/login}">로그인</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="inner">
작성자 아이디 : <span th:text="${postdetail.user.nickname}"></span></br>
작성자 동네 : <span th:text="${postdetail.user.address}"></span></br>
작성자 성별 : <span th:text="${postdetail.user.sex}"></span></br></br>

<div th:if="${not #lists.isEmpty(postdetail.user.pets)}">
    <table border="1">
        <tr th:each="pet : ${postdetail.user.pets}">
            <td th:text="${pet.name}"></td>
            <td th:text="${pet.personality}"></td>
            <td th:text="${pet.kind}"></td>
            <td th:text="${pet.sex}"></td>
            <td th:text="${pet.neutering}"></td>
            <td th:text="${pet.vaccination}"></td>
            <td th:text="${pet.birth}"></td>
        </tr>
    </table>
</div></br>

<form th:action="@{'/posts/' + ${postdetail.posttype} +'/edit'}" method="post">
    <input type="hidden" name="id" th:value="${postdetail.id}"/>
    <input type="hidden" name="posttype" th:value="${postdetail.posttype}"/>
    <input type="hidden" name="user" th:value="${postdetail.user.id}"/>
    내용 : <input type="text" name="content" th:value="${postdetail.content}"/><br>

    <div class="form-check form-check-inline">
        <input type="radio" value="ing..." name="status">
        <label>ing...</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="radio" value="완료" class="form-check-input" id="itemType2" name="status">
        <label for="itemType2" class="form-check-label">완료</label>
    </div>
    <input type="submit" value="등록"/>
</form>
</div>
</body>
</html>