.page-link {
    color: #815854;
    background-color: #fff;
    border: 1px solid #ccc;
}

.page-item.active .page-link {
    z-index: 1;
    color: #FFF4EC;
    font-weight:bold;
    background-color: #f1f1f1;
    border-color: #ccc;

}

.page-link:focus, .page-link:hover {
    color: #815854;
    background-color: #fafafa;
    border-color: #ccc;
}
