<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>WorkWalk</title>
</head>

<body>
<h2> 로그인 화면 </h2>
<form action="login" th:action="@{/users/login}" method="post">
    <div th:if="${param.error}">
        <span style="color:#000000">Invalid ID and Password.</span>
    </div>

    <div th:if="${param.logout}">
        <span style="color:blue">Successfully logged out</span>
    </div>

    <label for="id-memberId">ID:</label><br>
    <input type="text" id="id-memberId" name="username" placeholder="ID"><br>

    <label for="id-password">Password:</label><br>
    <input type="password" id="id-password" name="password" placeholder="Password" />

    <button type="submit">LogIn</button>
</form>
<p><a th:href="@{/users/signup}">회원가입</a></p>
<p><a th:href="@{/}">처음으로</a></p>
</body>