<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>WorkWalk</title>
</head>

<body style="text-align: center">
<h2> 회원가입 페이지 </h2>
<br/>
<div>
<form class="needs-validation" th:action="@{/users/signup}" th:object="${user}" method="POST">
    <div class="mb-3">
        <label for="username">아이디 (username)</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" required name="user-id">
            <div class="invalid-feedback" style="width: 100%;">Your username is required.</div>
        </div>
    </div>

    ID : <input type="text" th:field="*{memberId}"> <br>
    PASSWORD : <input type="password" th:field="*{password}"><br>
    <hr>유저 정보<hr>
    이름 : <input type="text" th:field="*{name}"> <br><br>
    닉네임 : <input type="text" th:field="*{nickname}"> <br><br>
    주소 : <input type="text" th:field="*{address}"> <br><br>
    연락처 : <input type="text" th:field="*{phone}"> <br><br>
    성별 : <input type="text" th:field="*{sex}" > <br><br>
    생일 : <input type="date" th:field="*{birth}"> <br><br>
    자격증 : <input type="text" th:field="*{license}"> <br><br>
    경험 : <input type="text" th:field="*{exp}"> <br>
    <button type="submit">Join</button>

</form>
</div>
    <br>
<a href="login.html">돌아가기</a>
</body>
</html>